node_modules
dist
.data
.nitro
.cache
.output
.env
.vercel
.env*.local
.slack/apps.json
.slack/apps.dev.json
.slack/config.json
friction.md
.vscode
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md